<div class="card card-body" style="box-shadow: 10px 10px 10px 2px #dbf6cf;">
<%= form_with(model: recipe, id: dom_id(recipe)) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
    <div class="field">
    <%= form.label :introduction %>
    <%= form.cktext_area :introduction %>
  </div>
    <div class="field">
    <%= form.label :banner %>
    <%= form.file_field :banner %>
  </div>
  <div class="field">
    <%= form.label :problem %>
    <%= form.cktext_area :problem %>
  </div>

  <div class="field">
    <%= form.label :solution %>
    <%= form.cktext_area :solution %>
  </div>

  <div class="field">
    <%= form.label :discussion %>
    <%= form.cktext_area :discussion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>