
<p id="notice"><%= notice %></p>

<h1>Create Recipe</h1>

<%= turbo_stream_from "recipes" %>

<%= turbo_frame_tag "recipe_form" do %>
  <%= render "recipes/form", recipe: @recipe %>
<% end %>

<br> 
<% if @recipes.present? %>
  <h1> Recipes </h1>
<% end %>
<%= turbo_frame_tag "recipes" do %>
  <%= render @recipes %>
<% end %>
